nodered/flows-1.json
[{"id":"4035b379.afceac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46dbe7ea.76031","type":"serial in","z":"4035b379.afceac","name":"/dev/tnt1","serial":"3a02d27d.ad735e","x":130,"y":200,"wires":[["85092775.757ff"]]},{"id":"85092775.757ff","type":"json","z":"4035b379.afceac","name":"","property":"payload","action":"","pretty":false,"x":290,"y":200,"wires":[["43156cf7.1f0454","cf6673d8.1a8048","f679c168.8b91b8","48d375f6.13467c"]]},{"id":"43156cf7.1f0454","type":"change","z":"4035b379.afceac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensorTurbidez","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["9a8a49f.f8bafb8"]]},{"id":"cf6673d8.1a8048","type":"change","z":"4035b379.afceac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensorPh","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":200,"wires":[["b7a88be9.df2dd8"]]},{"id":"f679c168.8b91b8","type":"change","z":"4035b379.afceac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensorTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["a53eff6f.790438"]]},{"id":"a53eff6f.790438","type":"ui_gauge","z":"4035b379.afceac","name":"","group":"fa4519c.b9c3c68","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Graus","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":140,"wires":[]},{"id":"b7a88be9.df2dd8","type":"ui_gauge","z":"4035b379.afceac","name":"","group":"37649fb8.74b91","order":0,"width":0,"height":0,"gtype":"gage","title":"PH","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":200,"wires":[]},{"id":"9a8a49f.f8bafb8","type":"ui_gauge","z":"4035b379.afceac","name":"","group":"52830c72.d4f7c4","order":0,"width":0,"height":0,"gtype":"gage","title":"Turbidez","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":720,"y":260,"wires":[]},{"id":"48d375f6.13467c","type":"mqtt out","z":"4035b379.afceac","name":"","topic":"go4sec/ps","qos":"0","retain":"","broker":"da8809.d442e7f8","x":410,"y":400,"wires":[]},{"id":"98e18fab.ed3b8","type":"mqtt in","z":"4035b379.afceac","name":"Enviar para API","topic":"go4sec/ps","qos":"2","datatype":"auto","broker":"da8809.d442e7f8","x":400,"y":520,"wires":[["26a7b11e.2cb13e"]]},{"id":"26a7b11e.2cb13e","type":"json","z":"4035b379.afceac","name":"","property":"payload","action":"","pretty":false,"x":570,"y":520,"wires":[["bfad5448.5a116"]]},{"id":"bfad5448.5a116","type":"http request","z":"4035b379.afceac","name":"https://mockapi.io/projects/618d69e4fe09aa0017440742","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://618d69e4fe09aa0017440741.mockapi.io/waterquality","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":520,"wires":[["5f902682.057d08"]]},{"id":"5f902682.057d08","type":"function","z":"4035b379.afceac","name":"","func":"if(msg.statusCode == 201 || msg.statusCode == 200) {\n    msg.response = \"Salvo no banco de dados com sucesso\";\n    msg.led = \"ACTIVATE\";\n} else {\n    msg.response = \"Falha ao salvar no banco de dados\";\n    msg.led = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":520,"wires":[["c7cbd422.1e683","d0e69a4b.90c26"]]},{"id":"c7cbd422.1e683","type":"debug","z":"4035b379.afceac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":520,"wires":[]},{"id":"bec2ed2c.f2ffb8","type":"serial out","z":"4035b379.afceac","name":"","serial":"3a02d27d.ad735e","x":1520,"y":640,"wires":[]},{"id":"d0e69a4b.90c26","type":"change","z":"4035b379.afceac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":640,"wires":[["bec2ed2c.f2ffb8"]]},{"id":"3a02d27d.ad735e","type":"serial-port","serialport":"/dev/tnt1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"fa4519c.b9c3c68","type":"ui_group","name":"1","tab":"155e1ce3.0b1dfb","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37649fb8.74b91","type":"ui_group","name":"2","tab":"155e1ce3.0b1dfb","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"52830c72.d4f7c4","type":"ui_group","name":"3","tab":"155e1ce3.0b1dfb","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"da8809.d442e7f8","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"155e1ce3.0b1dfb","type":"ui_tab","name":"DASHBOARD","icon":"dashboard","disabled":false,"hidden":false}]
